@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    font-family: 'poppins', sans-serif;
    color: #dadada;
}

.main {
    display: flex;
    width: 340px;
    height: 150px;
    background-color: #121212;
    padding: 15px;
    border-radius: 10px;
}

.capa {
    padding: 10px;
    display: flex;
    align-items: center;
    margin-right: 100px;
    background-color: #292929;
    border-radius: 10px;   
    width: 100px;
}


.descricao {
    display: flex;
    align-items: center;

    font-size: 15px;
}

