@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

body {
    color: black;
    font-family: 'poppins' ,sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:  rgb(232,236,239);
}

/*HEADER*/
header ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;

}

li {
    padding-right: 50px;
    font-size: 17px;
}
li:hover {
    transform: scale(1.2);
    transition: 0.5s all;
}

header a {
    text-decoration: none;
    color: black;

}


.iconess {
    width: 17px;
    height: 17px;
    padding-top: 1px;
}

a li span {
    text-decoration: underline;
}

header {
    height: 80px;
}

.titulo h1 {
    margin: 0px;
}

/*video*/

.video {
    margin-top: 33px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 700px;
    height: 400px;

    background: rgba(243, 246, 247, 0.4);
    box-shadow: 0 1px 20px 0 rgba(16, 16, 16, 0.37);
    backdrop-filter: blur( 11.5px );
    -webkit-backdrop-filter: blur( 11.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}


.video h1 {
    margin: 0px;
    margin-bottom: 20px;
}